/*  your css code here. If applicable */
body {
	background-color: rgb(204, 204, 204);	
}

h1 {
	text-align:center;
}

h2 {
	text-align:center;
}

.song {
	background-color: rgb(255, 255, 255);
	border: 1px solid black;
	border-radius:10px;
}

li {
	list-style:none;
}


.container {
	margin-left:50px;
	margin-right:50px;
	background-color: rgb(255, 255, 255);
	border: 1px solid black;
	border-radius:10px;
	padding:25px;
}

.container video {
	width:520px
}

.container audio {
	width:520px;
}
